@keyframes popupAnimationOpen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes popupAnimationClose {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#bigPicturePopup {
    z-index: 2;
    width: 100vw;
    height: 100vh;
    transition: none !important;
    animation: none !important;
    background-color: rgba(0, 0, 0, 0.8);
}

#bigPicturePopup p {
    font-size: larger;
}

#bigPicturePopup img {
    max-width: 75vw;
    max-height: 75vh;
}

#bigPicturePopup button {
    position: relative;
    right: -40px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.popup_active {
    display: flex;
    animation: popupAnimationOpen 0.5s forwards linear;
}

.popup_active.popup_closing {
    animation: popupAnimationClose 0.4s forwards linear;
}

.popup__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 470px;
}

.fullsize {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.popup__card-container {
    display: flex;
    flex-direction: column;
}

.popup__close-button {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 3px;
    background: url(../images/CloseButton.svg) no-repeat;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: 0.6;
    transform: rotate(45deg);
}

.popup__form-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 430px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.popup__title {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 29px;
    color: #000000;
    align-self: flex-start;
    padding-top: 36px;
    padding-left: 36px;
}

@media screen and (max-width: 600px) {
    .popup {
        max-width: 282px;
    }
    .popup__container {
        width: 282px;
    }
    .popup__close-button {
        margin-bottom: 13.5px;
        width: 26px;
        height: 26px;
        background: url(../images/CloseButton2.svg) no-repeat;
    }
    .popup__form-container {
        width: 100%;
    }
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        padding-left: 22px;
    }
}